*{
	margin: 0;
	padding: 0;
}
body{
    background-color: rgb(51, 43, 43);
    color: white;
}

a {
color: white;
text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(75, 72, 64);
    border-radius: 2px;
    
    }
	
.wrapper .sidenav{
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	height: 100vh;
	background-color: black;


}
.wrapper .sidenav img{
	text-align: center;
}
.wrapper .sidenav ul li{
	list-style: none;
	padding: 5px
}
.privacy{
    padding: 5px;
    font-size: 12px;
    position: absolute;
    bottom: 12px;

}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    z-index: 999;
    background-color: (44, 35, 35)!important
}
.dropdown-menu {
    background-color: rgb(44, 35, 35)!important;
    

}
.dropdown-item{
    color: white;
}
.wrapper .main-content{
	
	height: 100vh;
	margin-left: 200px;

}

.arrow{
   color: white !important;
   background-color: black;
   border-color: black;
   border-radius: 50%;
   padding: 3px;

}
.btn{
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 50px;
    margin-right: 50px;
}
.btn:hover{
    background-color: black;
    
    border-radius: 50px;
    color: white;
}

.top-container{
    margin-top: 100px;
}
.card-img{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}


.card-horizontal{
    display: flex;
    flex: 1 1 auto;
    
}
.card{
    background-color: rgb(41, 29, 29);
    color: white;
}
p{
   margin-top: 18px;

}
.podocasts{
    margin-top: 0px;
}
